<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Cars Type Selection">
    <test name="Select the brand of car">
        <classes>
            <class name="services.BrandTest"/>
        </classes>
    </test>
    <test name="Select the model of car">
        <classes>
            <class name="services.ModelTest"/>
        </classes>
    </test>
    <test name="Select the model year of car">
        <classes>
            <class name="services.ModelYearTest"/>
        </classes>
    </test>
</suite>